.container {
  width: 100%;
  min-height: 100vh;
  background: rgb(40, 40, 40);
  display: flex;
  z-index: 100;
}

.centerFrame {
  margin: auto;
  margin-top: 10vh;
  flex-basis: 90%;
  z-index: 200;
}

.contentWrapper {
  margin-top: 20px;
}

.controls {
  & h3 {
    color: rgb(150, 150, 60);
  }

  & button {
    height: 30px;
    min-width: 100px;
    margin-right: 10px;
    font-size: 18px;
    border-radius: 4px;
  }
}

@media (min-width: 700px) {
  .centerFrame {
    margin: auto;
    margin-top: 10vh;
    flex-basis: 50%;
  }
}
